/* Reset */
body,h1,h2,h3,p,label {
    box-sizing: border-box;
    padding: 0;margin: 0;
}

/* Globals */
h1 {font-size: 20pt;}
h2 {font-size: 18pt;}
h3 {font-size: 16pt;}
label {font-size: 12pt;}
hr {border-color: rgb(156, 156, 156);}

/* Fonts */
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

/*-------------*/
/* === App === */
/*-------------*/
#app {
    font-family: Roboto;
    margin: 0;
}

/*------------------------------*/
/* === New Application Form === */
/*------------------------------*/
#new-application-form {
    border: 1px solid rgb(46, 46, 46);
    width: fit-content;
    display: inline-block;
    margin: 1em;
    padding: 1em 2em;
}
#new-application-form input {width: 95%;}

/*----------------------*/
/* === Applications === */
/*----------------------*/
#applications {
    display: inline-block;
    border: 1px solid rgb(46, 46, 46);
    width: fit-content;
    margin: 1em;
    padding: 1em;
}